*, *::before, *::after {
  box-sizing: border-box;   
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("2.jpg");

}

.calculator-grid {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.607);
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 700px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lucida Sans';
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background: linear-gradient(to right, #f8fafb74, #1a1b1a7e);
  background-color: rgb(202, 202, 202);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 5px; 
  grid-column: 1 / -1;
  background-color: rgba(14, 62, 52, 0.989);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}